/* CSS file 

kuler profile: 595241,B8AE9C,FFFFFF,ACCFCC,8A0917
cool blues: 0A111F,263248,7E8AA2,E3E3E3,FF881D
hallow summer: E7E9D1,D3D4AA,FCFAE6,444444,901808

*/


global
{
	fontSize: 12;
	fontFamily: Arial;
	leading: 2;
	fontStyle: normal;
	cornerRadius: 0;
	roundedBottomCorners: false;
	borderThicknessLeft: 7;
	borderThicknessRight: 5;
	borderThicknessBottom: 10;
	controlBarStyleName: panelControlBar;
	statusStyleName: panelStatus;
	backgroundAlpha: 1.0;
	color: #000000;
	themeColor: #edf079;
	
	modalTransparencyBlur: 4;
	modalTransparency: 0.4;
	modalTransparencyColor: #000;
	modalTransparencyDuration: 50;	
}
Application
{
	color: #113841;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #444444, #444444;
}
.MainViewContainer
{
	backgroundColor: #FCFAE6;
	verticalAlign: top;
	borderThickness: 4;
	borderColor: #aabbaa;
	borderStyle: solid;	
}
VBox.MainView
{	
	paddingLeft: 50;
	paddingRight: 50;	
}
.TopBar
{
	horizontalAlign: left;
	horizontalGap: 4;
	verticalAlign: bottom;
	fontSize: 10;
	backgroundColor: #D3D4AA;
}

.UnderMeny
{
	textRollOverColor: #901808;
	color: #0054A2;
	textDecoration: underline;
	cornerRadius: 2;
	themeColor: #FFFFFF;
	leading: 0;
	textAlign: left;
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 5;
	paddingRight: 5;
	horizontalGap: 2;
	borderColor: #FFFFFF;
}
.tabBarSelectedTabText
{
	color: #901808;
	fillAlphas: 1.0, 1.0;
  	fillColors: #E6EEEE, #FFFFFF;
}
.tabNavigator
{
	fillAlphas: 1.0, 1.0;
	fillColors: #898989, #898989;
	selectedTabTextStyleName: tabNavigatorSelectedTabText;
	backgroundColor: #FFFFFF;
	fontSize: 14;
	fontFamily: Arial;
	horizontalGap: -1;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 10;
	paddingBottom: 10;
	backgroundAlpha: 1.0;
	cornerRadius: 0;
	tabStyleName: tabNavigatorTab;
}
.tabNavigatorSelectedTabText
{
	color: #8A0917;
}
.tabNavigatorTab
{
	cornerRadius: 7;
	fillAlphas: 1.0, 0.38, 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #C7C7C7;
	tabStyleName: tabNavigatorTab;
	paddingLeft: 10;
	paddingRight: 10;
	fontSize: 18;
	fontFamily: Arial;
	color: #444444;
	horizontalGap: -1;
	paddingBottom: -2;
	leading: 2;
}
Button.SokKnapp
{
	icon: "@Embed(source='assets/magnifier.png')";
}

.labelEditorStyle {
    cornerRadius: 0;
    backgroundColor: #FFFFFF;
    border-style: none;
    backgroundAlpha: 0;
    textAlign: left;
}

